@import '../../styles/index';

.about {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  h1 {
    margin: 0 0 20px;
    color: $color-dark;
  }

  p {
    margin: 0;
    color: $color-dark;
    line-height: 1.355;
  }

  p:last-child {
    margin: 0 0 40px 0;
  }

  a {
    color: $color-dark;
    font-size: 16px;
    line-height: 1.355;
  }

  @include mediaMd {
    padding: 32px 0 32px 32px;
    height: 100%;
  }
}

.left {

  p:not(:last-child) {
    margin: 0 0 16px 0;
  }

  @include mediaMd {
    flex-basis: auto;
    max-width: 700px;
  }

}

.right {
  display: none;

  img {
    width: 100%;
    height: auto;
  }
  
  @include mediaMd {
    display: block;
    max-width: 420px;
  }

}

.icons {
  margin: 40px 0;
  display: flex;
  gap: 20px;

  a {
    display: flex;
    font-weight: 500;
  }
}