@import "../../styles/index";

.dashboard {
  padding: 20px;
  height: 100%;

  &__container {
    display: grid;
    grid-template-columns: 60% minmax(0, 1fr);
    grid-template-rows: 60% minmax(0, 1fr);
    grid-template-areas: 
      "dash-table dash-graph"
      "dash-table dash-score";
    height: 100%;
    gap: 20px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.35;
    font-weight: 700;
    color: $color-dark;
  }


  &__table {
    grid-area: dash-table;

    &__link {
      
    }
  }

  &__graph {
    grid-area: dash-graph;
  }

  &__scoreboard {
    grid-area: dash-score;
  }
}